__pycache__/
/server/cdriver/franklin-cdriver
/server/cdriver/bbb_pru.bin
/server/cdriver/build
/server/cdriver.cpython-36m-x86_64-linux-gnu.so
/server/html/index.html
/server/html/builders.js
/server/html/rpc.js
/server/html/check.stamp
/server/bb/setpin
/util/joystick.py
/util/c457a-ui.gui
/mkdeb
/server/cdriver.cpython-*
/server/html/type
/server/type/*/*.so
/server/cdriver/module/build/
/firmware/build/
/server/cdriver/copy-*
/firmware/copy-*
