*.pyc
firmware/build-*
server/firmware
server/franklin-cdriver
server/cdriver/franklin-cdriver
server/cdriver/build
util/joystick.py
util/c457a-ui.gui
mkdeb
module-python-fhs
module-python-network
module-python-websocketd
.gitmodules
zipdir
