*.pyc
firmware/build-*
server/firmware
server/cdriver
server/cdriver_src/cdriver
server/cdriver_src/build
server/cdriver_src/*.o
util/joystick.py
util/c457a-ui.gui
mkdeb
module-python-fhs
module-python-network
module-python-websocketd
.gitmodules
zipdir
