[submodule "python-network"]
	path = python-network
	url = https://github.com/wijnen/python-network
[submodule "python-websocketd"]
	path = python-websocketd
	url = https://github.com/wijnen/python-websocketd
