.hidden,.noexpert .expert {
	display: none;
}

#expertswitch {
	float: right;
	background: #ff8;
}

.tab {
	display: inline;
	margin: 2ex;
	padding: .5ex 2ex;
	background: #ccc;
}

.tab.active {
	background: #4f4;
}

.axis,.extruder,.temp,.gpio {
	margin: 1ex 0em;
	background: #cc8;
}

.printerpins,.axispins,.extruderpins,.temppins,.gpiopins {
	margin: 1ex 0em;
	clear: both;
}

.pintitle {
	width: 12em;
	float: left;
	clear: both;
	background: #ffc;
}

.pinvalue {
	float: left;
	background: #ffc;
}

.title {
	float: left;
	font-weight: bold;
	width: 14em;
}

input[type=text] {
	width: 4em;
}
