.hidden,
.empty *,

.notweak .tweak,
.noexpert .expert,
.notweak .expert,
.nosetup .setup,
.notweak .setup,
.noexpert .setup,

.notweak .basichidden,
.noexpert .tweakhidden,
.notweak .tweakhidden,
.nosetup .experthidden,
.noexpert .experthidden,
.notweak .experthidden,

.connected .noprinter,
.notconnected .printer,

.nomover #movediv
{
	display: none;
}

#showswitches {
	position: fixed;
	right: 10px;
	top: 10px;
	background: #ff8;
	z-index: 2;
}

#showswitches > * {
	clear: both;
	float: right;
}

.tab {
	display: inline;
	margin: 2ex;
	padding: .5ex 2ex;
	background: #ccc;
}

.tab.active {
	background: #4f4;
}

.axis,.extruder,.temp,.gpio {
	margin: 1ex 0em;
	background: #cc8;
}

.pins_printer,.pins_axis,.pins_extruder,.pins_temp,.pins_gpio {
	margin: 1ex 0em;
}

.pintitle {
	background: #ffc;
}

.pinvalue {
	background: #ffc;
}

.title {
	margin: 10px 0px 0px 0px;
}
.floattitle {
	background: #cfc;
	margin: 10px 0px 0px 0px;
}
.choicetitle {
	background: #cfc;
	margin: 10px 0px 0px 0px;
}
.inputtitle {
	background: #cfc;
	margin: 10px 0px 0px 0px;
}
.blocktitle {
	background: #afa;
	margin: 10px 0px 0px 0px;
}
.rowtitle {
	background: #cfc;
}
input[type="text"] {
	width: 5em;
}
select[multiple] {
	width: 50%;
	float: left;
}
#labels,#scripts {
	clear: both;
}
.checked {
	background: #0f0;
}

#movediv {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #666;
	z-index: 1;
}

#movebox {
	background: #ee6;
	width: 80%;
	margin: auto auto;
}
#move_viewbox {
	margin: auto auto;
	text-align: center;
}
