.hidden,
.empty *,

.nosetup .setup,

.connected.noprinter,
.nodelta .delta,

.role_user .expert,
.role_user .admin,
.role_expert .admin,

.nomover .movediv
{
	display: none;
}

.axis,.extruder,.temp,.gpio {
	margin: 1ex 0em;
	background: #cc8;
}

.pins_printer,.pins_axis,.pins_extruder,.pins_temp,.pins_gpio {
	margin: 1ex 0em;
}

.pintitle {
	background: #ffc;
}

.pinvalue {
	background: #ffc;
}

.title {
	margin: 10px 0px 0px 0px;
}
.floattitle {
	background: #cfc;
	margin: 10px 0px 0px 0px;
}
.choicetitle {
	background: #cfc;
	margin: 10px 0px 0px 0px;
}
.inputtitle {
	background: #cfc;
	margin: 10px 0px 0px 0px;
}
.blocktitle {
	background: #afa;
	margin: 10px 0px 0px 0px;
}
.rowtitle {
	background: #cfc;
}
#labels,#scripts {
	clear: both;
}
.checked {
	background: #0f0;
}

.movediv {
	float: right;
	background: #666;
	z-index: 1;
	width: 30%;
}

.movebox {
	background: #ee6;
	width: 80%;
	margin: auto auto;
}
.move_viewbox {
	margin: auto auto;
	text-align: center;
}
.blocker {
	background: #f44;
	padding: 1em 1em 1em 1em;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}
.message {
	background: #ff8;
	padding: 1em 1em 1em 1em;
	white-space: pre-line;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
}
.message button.confirmabort {
	float: left;
}
.message button.confirmok {
	float: right;
}
body {
	margin-top: 3em;
	margin-bottom: 6em;
}

.htitle1 {
	width: 20%;
	background: #66f;
}
.htitle2 {
	width: 20%;
	background: #66f;
}
.htitle3 {
	width: 20%;
	background: #66f;
}
.htitle4 {
	width: 20%;
	background: #66f;
}
.htitle5 {
	width: 20%;
	background: #66f;
}
.htitle6 {
	width: 20%;
	background: #66f;
}

.rowtitle1 {
	width: 20%;
	background: #ccf;
}
.rowtitle2 {
	width: 20%;
	background: #ccf;
}
.rowtitle3 {
	width: 20%;
	background: #ccf;
}
.rowtitle4 {
	width: 20%;
	background: #ccf;
}
.rowtitle5 {
	width: 20%;
	background: #ccf;
}
.rowtitle6 {
	width: 20%;
	background: #ccf;
}

.title1 {
	width: 60%;
	background: #88f;
}
.title2 {
	width: 30%;
	background: #88f;
}
.title3 {
	width: 20%;
	background: #88f;
}
.title4 {
	width: 15%;
	background: #88f;
}
.title5 {
	width: 12%;
	background: #88f;
}
.title6 {
	width: 10%;
	background: #88f;
}

table {
	width: 100%;
}

table.left {
	width: 70%;
}

.all {
	background: #844;
}

/* New stuff; everything above this line may be obsolete. */
body.idle {
	background: #2e2;
}

body.paused {
	background: #ee2;
}

body.printing {
	background: #e22;
}

.tab {
	display: inline;
	margin: 2ex;
	padding: .5ex 2ex;
	background: #444;
}

.tab.active {
	background: #ccc;
}

.printer {
	background: #ccc;
	padding: 1% 1em;
}

.updown, .jobs, .jobbuttons, .stop {
	height: 6em;
}

.updown {
	width: 5%;
}

.jobs {
	width: 35%;
	height: 6em;
}

.jobs>* {
	width: 100%;
	height: 100%;
}

.jobbuttons {
	width: 30%;
}

.updown button {
	height: 2em;
	width: 100%;
}

.jobbuttons button {
	height: 2em;
}

.updown, .jobs, .jobbuttons {
	float: left;
}

.stop {
	float: right;
	width: 30%;
}

.spacer {
	clear: both;
	height: 1em;
}

.stop button {
	height: 2em;
	width: 25%;
}

button.abort {
	height: 4em;
	width: 100%
}

.map {
	clear: both;
	float: left;
	width: 50%;
}

.multipliers, .gpios, .temp {
	clear: right;
	float: right;
	width: 49%;
}

.xymap {
	background: #ddd;
	width: 85%;
}

.zmap {
	background: #ddd;
	width: 15%;
}

.temp {
	height: 20em;
}

.tempgraph {
	background: #ddd;
	width: 100%;
}

.bottom {
	clear: both;
	height: 1px;
}

input[type="text"] {
	width: 3em;
}

.temp0 {
	color: #f00;
}

.temp1 {
	color: #00f;
}

.temp2 {
	color: #0f0;
}

.temp3 {
	color: #ff0;
}

.temp4 {
	color: #000;
}

.input {
	color: #666;
}

#setupbutton {
	float: right;
}
