/* main.css - stylesheet for Franklin
 * Copyright 2014 Michigan Technological University
 * Author: Bas Wijnen <wijnen@debian.org>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.hidden,
.isconnected .notconnected,
.isnotconnected .connected,
.role_user .expert,
.role_user .admin,
.role_user .benjamin,
.role_expert .admin,
.role_expert .benjamin,
.role_admin .benjamin,
.noflash .ifflash,
.nodetect .ifdetect
{
	display: none;
}

.title {
	margin: 10px 0px 0px 0px;
}
.floattitle {
	background: #cfc;
	margin: 10px 0px 0px 0px;
}
.choicetitle {
	background: #cfc;
	margin: 10px 0px 0px 0px;
}
.inputtitle {
	background: #cfc;
	margin: 10px 0px 0px 0px;
}
.blocktitle {
	background: #afa;
	margin: 10px 0px 0px 0px;
}
.rowtitle {
	background: #cfc;
}
.checked {
	background: #0f0;
}

.blocker {
	background: #f44;
}

.message {
	background: #ff8;
	padding: 1em 1em 1em 1em;
	white-space: pre-line;
	text-align: center;
}

.message button.confirmabort {
	float: left;
}

.message button.confirmok {
	float: right;
}

.htitle1 {
	width: 20%;
	background: #66f;
}
.htitle2 {
	width: 20%;
	background: #66f;
}
.htitle3 {
	width: 20%;
	background: #66f;
}
.htitle4 {
	width: 20%;
	background: #66f;
}
.htitle5 {
	width: 20%;
	background: #66f;
}
.htitle6 {
	width: 20%;
	background: #66f;
}

.rowtitle1 {
	width: 20%;
	background: #ccf;
}
.rowtitle2 {
	width: 20%;
	background: #ccf;
}
.rowtitle3 {
	width: 20%;
	background: #ccf;
}
.rowtitle4 {
	width: 20%;
	background: #ccf;
}
.rowtitle5 {
	width: 20%;
	background: #ccf;
}
.rowtitle6 {
	width: 20%;
	background: #ccf;
}

.title1 {
	width: 60%;
	background: #88f;
}
.title2 {
	width: 30%;
	background: #88f;
}
.title3 {
	width: 20%;
	background: #88f;
}
.title4 {
	width: 15%;
	background: #88f;
}
.title5 {
	width: 12%;
	background: #88f;
}
.title6 {
	width: 10%;
	background: #88f;
}

table {
	width: 100%;
}

.all {
	background: #844;
}

body.idle {
	background: #2e2;
}

body.paused {
	background: #ee2;
}

body.running {
	background: #e22;
}

#labels {
	clear: both;
	position: fixed;
	top: 0px;
	height: 1.7em;
	width: 100%;
	left: 0px;
	line-height: 2em;
}

.tab {
	display: inline;
	margin: 0px 2ex;
	padding: .5ex 2ex;
	background: #444;
	border-top-left-radius: 1ex;
	border-top-right-radius: 1ex;
	vertical-align: bottom;
}

.tab.active {
	background: #ccc;
}

#machines {
	position: absolute;
	top: 2em;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.machine {
	position: absolute;
	background: #ccc;
	padding: 0px 1em;
	height: 100%;
	left: 0px;
	right: 0px;
}

.buttons button {
	height: 2em;
	width: 50%;
}

.jobbuttons {
	width: 100%;
}

.jobs, .jobbuttons, .queue1 {
	float: left;
}

.spacer {
	clear: both;
	height: 1em;
}

button.abort {
	height: 4em;
	width: 100%
}

.map, .toolpath {
	width: 100%;
	height: 100%;
}

.multipliers, .gpios, .temp {
	width: 100%;
}

.xymap {
	background: #ddd;
	width: 100%;
	height: 100%;
}

.zmap {
	background: #ddd;
	width: 100%;
	height: 100%;
}

.tempgraph {
	background: #ddd;
	width: 100%;
	height: 100%;
}

input[type="text"] {
	width: 3em;
}

input.tabinput {
	width: auto;
}

.tab span {
	line-height: 2em;
}

.temp0 {
	color: #f00;
}

.temp1 {
	color: #00f;
}

.temp2 {
	color: #0f0;
}

.temp3 {
	color: #ff0;
}

.temp4 {
	color: #000;
}

.input {
	color: #666;
}

.setupbutton {
	float: right;
}

h2 {
	background: red;
	text-align: center;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0px 0px;
	padding: 0px 1em;
}

#uploading, .blocked {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 1.5em;
	background: red;
	text-align: center;
	font-size: 200%;
}
