Source: franklin
Section: electronics
Priority: optional
Maintainer: Bas Wijnen <wijnen@debian.org>
Build-Depends: debhelper (>= 9), python3-all, dh-python, gcc-avr, arduino-mighty-1284p (>= 1), arduino-mk (>= 1.3.4), ruby-ronn, closure-linter
Standards-Version: 3.9.6

Package: franklin
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, ${python3:Depends}, python3-websocketd, python3-network, python3-serial, avrdude (>= 6.1), python3-fhs, adduser, arduino-mighty-1284p (>= 1)
Description: server for controlling RepRap 3-D printers
 3-D printers need firmware and host software to work.  This package contains
 both.  The following hardware is currently supported:
  * Controller board: all Arduino-based.
    Melzi, Ramps and Rambo have been tested.
  * Printer type: Carthesian, Delta and Polar.
 If you need support for other controllers or printer types, let me know.
 .
 The server provides a web interface to a 3-D printer.  It also provides an
 interface for scripted control using websockets, with example scripts in
 Python.
