Source: franklin
Section: electronics
Priority: optional
Maintainer: Bas Wijnen <wijnen@debian.org>
Build-Depends: debhelper (>= 9), python-all, dh-python, gcc-avr, arduino-mighty-1284p (>= 1-2), arduino-mk (>= 1.3.4-1), ruby-ronn, closure-linter
Standards-Version: 3.9.6

Package: franklin
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, ${python:Depends}, python-websocketd, python-network, python-serial, avrdude (>= 6.1-3.1), python-fhs, adduser, python-gi, python-gtk2, arduino-mighty-1284p (>= 1-2)
Recommends: python-avahi
Description: server for controlling RepRap 3-D printers
 3-D printers need firmware and host software to work.  This package contains
 both.  The following hardware is currently supported:
  * Controller board: all Arduino-based.  Melzi and Ramps have been tested.
  * Printer type: Carthesian and Delta
 If you need support for other controllers or printer types, let me know.
 .
 The server provides a web interface to a 3-D printer.  It also provides an
 interface for scripted control using python.
