Source: printer3d
Section: electronics
Priority: optional
Maintainer: Bas Wijnen <wijnen@debian.org>
Build-Depends: debhelper (>= 9), python, python-support, gcc-avr, arduino-mighty-1284p, arduino-mk, xmlgen, ruby-ronn
Standards-Version: 3.9.5

Package: printer3d
Architecture: all
#Depends: ${misc:Depends}, ${python:Depends}, python-websockets, python-network, python-serial, avrdude, python-xdgbasedir, adduser, python-gtk2
#Kill versioned dependency on python, because several things can't handle it.
Depends: ${misc:Depends}, python, python-websockets, python-network, python-serial, avrdude, python-xdgbasedir, adduser, python-gtk2
Description: server for controlling RepRap 3-D printers
 3-D printers need firmware and host software to work.  This package contains
 both.  The following hardware is currently supported:
  * Controller board: all Arduino-based.  Melzi and Ramps have been tested.
  * Printer type: Carthesian and Delta
 If you need support for other controllers or printer types, let me know.
 .
 The server provides a web interface to a 3-D printer.  It also provides an
 interface for scripted control using python.
