#!/usr/bin/make -f

%:
	dh $@ --with python3

export DEB_BUILD_MAINT_OPTIONS = hardening=-stackprotector reproducible=-fixfilepath

ARCH = $(shell dpkg-architecture -qDEB_HOST_ARCH)

override_dh_auto_build:
	${MAKE} -C server
	${MAKE} -C util

SUDOERS = debian/franklin/etc/sudoers.d
VERSIONDIR = debian/franklin/usr/lib/franklin
override_dh_auto_install:
	dh_auto_install
	mkdir -p ${SUDOERS}
	cp debian/franklin.sudoers ${SUDOERS}/franklin
	mkdir -p ${VERSIONDIR}
	dpkg-parsechangelog -S Source > ${VERSIONDIR}/franklin-version.txt
	dpkg-parsechangelog -S Version >> ${VERSIONDIR}/franklin-version.txt
	dpkg-parsechangelog -S Distribution >> ${VERSIONDIR}/franklin-version.txt

override_dh_python3:
	dh_python3 --no-ext-rename
