#!/usr/bin/make -f

%:
	dh $@ --with python2

export DEB_BUILD_MAINT_OPTIONS=hardening=-stackprotector

override_dh_auto_build:
	dh_auto_build
	${MAKE} -C server/html
	ronn -r server/franklin.8.ronn
	${MAKE} -C server/cdriver
	${MAKE} -C firmware TARGET=melzi
	${MAKE} -C firmware TARGET=ramps
	${MAKE} -C firmware TARGET=mega
	${MAKE} -C firmware TARGET=mini

override_dh_auto_clean:
	dh_auto_clean
	rm -f *.pyc *.pyo server/franklin.8
	rm -rf firmware/build-*
	$(MAKE) -C server/cdriver clean
