#!/usr/bin/make -f

# gcc-avr does not support stack protection.
export DEB_BUILD_MAINT_OPTIONS=hardening=-stackprotector

%:
	dh $@ --with python2

override_dh_auto_build:
	dh_auto_build
	${MAKE} -C server/html
	ronn -r server/franklin.8.ronn
	${MAKE} -C firmware TARGET=melzi
	${MAKE} -C firmware TARGET=ramps
	${MAKE} -C firmware TARGET=mega

override_dh_auto_clean:
	dh_auto_clean
	rm -f *.pyc *.pyo server/franklin.8
	rm -rf firmware/build-*
